<p id="notice"><%= notice %></p>

<p class="lead" >
  <b><u>Nombre:</u></b>
  <%= @customer.name %>
</p>

<p class="lead">
  <b><u>Email:</u></b>
  <%= @customer.email %>
</p>

<p class="lead">
  <b><u>Tel&eacute;fono:</u></b>
  <%= @customer.phone %>
</p>

<p class="lead">

  
  <b><u>Usuario</u> <%=  @customer.vip ? 'vip' : 'comun' %></b>
 
</p>


<%= link_to strongify(icon('edit')+'Editar'), edit_customer_path(@customer),class:'btn btn-warning' %> |
<%= link_to strongify(icon('chevron-left')+'Volver'), customers_path, class:'btn' %>
