<h1 class="text-success" ><i><u>Lista de Vehiculos</u></i></h1>



<table class="table table-hover table-striped">
  <thead>
  <tr>

    <th>Nombre: </th>
    <th>Marca: </th>
    <th>Tipo de Vehiculo:</th>
    <th>Precio $</th>
    <th>Precio U$D</th>
    <th>Cantidad KM</th>
    <th>Tipo Combustible</th>
    <th>Año Modelo</th>
  </tr>
</thead>


<tbody>

<% @vehicles.each do |vehicle| %>
  <tr class="<%= cycle  :info  %>">
    <td><%= vehicle.name %></td>
    <td><%= vehicle.brand.name %></td>    
    <td><%= vehicle.vehicle_type.name %></td>
    <td><%= vehicle.price %></td>
    <td><%= vehicle.amount_in_pesos %></td>
    <td><%= vehicle.amount_km %></td>
    <td><%= vehicle.fuel_Type %></td>
    <td><%= vehicle.year %></td>
    <td><%= link_to icon('eye-open')+'Ver', vehicle, class:'btn btn-info' %></td>
    <td><%= link_to icon('edit')+'Editar', edit_vehicle_path(vehicle), class:'btn btn-warning' %></td>
    <td><%= link_to icon('remove')+'Eliminar', vehicle,  method: :delete, data: { confirm: 'Usted esta seguro?' }, class:'btn btn-danger'   %></td>
  </tr>
<% end %>

</tbody>
</table>

<br />

<%= link_to strongify(icon('plus')+ 'Crear Vehiculo'), new_vehicle_path, class: 'btn btn-success' %>
