<h1 class="text-success"><u><i>Listado Tipos de Vehiculos</i></u></h1>

<table class="table table-bordered">
  <tr>
    <th>Nombre</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @vehicle_types.each do |vehicle_type| %>
  <tr class="<%= cycle  :warning, :info  %>">
    <td><%= vehicle_type.name %></td>

    <td><%=  %></td>
    <td><%=  %></td>
    <td><%=  %></td>
    <td><%=  %></td>
    <td><%=  %></td>
    <td><%=  %></td>
    <td><%=  %></td>
    <td><%=  %></td>
    <td><%=  %></td>
 
    <td><%= link_to icon('edit')+'Editar', edit_vehicle_type_path(vehicle_type), class:'btn btn-warning' %></td>
    <td><%= link_to icon('remove')+'Eliminar', vehicle_type, method: :delete, data: { confirm: 'Usted esta seguro de Eliminar dicho tipo de Vehiculo?' }, class:'btn btn-danger' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to strongify(icon('plus')+'Crear Tipo de Vehiculo'), new_vehicle_type_path, class: 'btn btn-success'%>
