<p id="notice"><%= notice %></p>

<p class="lead">
  <b>Nombre:</b>
  <%= @brand.name %>
</p>

<ul>
  <% @brand.vehicles.each do |v|  %>
   <li> <%= v.name  %></li>
   <% end  %>
</ul>


<p > 
  <%= @brand.vehicle_ids.inspect  %>
  </p>

<ul>
  <% @brand.customers.each do |c|  %>
   <li> <%= c.name  %></li>
   <% end  %>
</ul>



<%= link_to strongify(icon('edit')+'Editar'), edit_brand_path(@brand),class:'btn btn-warning' %> |
<%= link_to strongify(icon('chevron-left')+'Volver'), brands_path, class:'btn' %>
