<!DOCTYPE html>
<html>
<head>
  <title>Concesionaria</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
      <div id="header"  class="hero" >

         <div class="izq">
            <h1 align = "left"> <i class="title">Concesionaria</i></h1>
   
        </div>

           <div class="de" align="right" >
             <div class="navbar">
                <div class="navbar-inner">
                  <ul class="nav">
                    <li class="active"><a href="#"><%= strongify('Nuevos')%></a></li>
                    <li ><a href="#"><%= strongify('Usados')%></a></li>
                    <li ><a href="#"><%= strongify('Contacto')%></a></li>
                    
                  </ul>
                </div>
              </div>    
           </div>
    
        </div>
     <div class="row">
     <div id="menu" class="span2" >
           <ul class="nav nav-pills nav-stacked" >
            <li><%=  link_to  strongify( icon('home')+'Inicio'), root_url  %></li>
            <li><%=  link_to strongify(icon('star')+'Marcas'), brands_path  %></li>
            <li><%=  link_to strongify(icon('user')+'Clientes'), customers_path  %></li>
            <li><%=  link_to strongify(icon('hand-up')+'Tipo de Vehiculo'), vehicle_types_url  %></li>
            <li><%=  link_to strongify(icon('plane')+'Vehiculo'), vehicles_path  %></li>
            <li><%=  link_to strongify(icon('font')+'Accesorios'), accesorios_path  %></li>

          
          </ul>

          <br><br>

          <ul>
             <li><b><u>Dolar Compra Oficial</u></b>: <%= dolar_compra_oficial  %></li>
             <li><b><u>Dolar Venta Oficial</u></b>: <%= dolar_venta_oficial  %></li>
             <li><b><u>Blue Compra Oficial</u></b>: <%= blue_compra_oficial  %></li>
             <li><b><u>Blue Venta Oficial</u></b>: <%= blue_venta_oficial  %></li>
           </ul> 
     </div>
      <div id="content" class="span10" >
      <%= yield %>-  

       </div>
     </div>

     
     <div id="footer">

     <p class="text-center" ><b> &copy; <%= Time.now.year  %> Concesionaria </b></p>
      </div>
</div>
</body>
</html>
